html{
    scroll-behavior: smooth;
}
#breaking-news-btn{
    display: none;
}#top-btn {
    position: fixed;
    right: 20px;
    bottom: 20px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
.result{
    text-align-last: right;
}

/* responsive css */
@media (max-width:767px) {     
#breaking-news-btn{
    display: block;
}
.result{
    text-align-last: left;
}
#search-result {
    order: 1;
}
#breaking-news {
    order: 2;
}
}